/* CSS reset and some general global styles */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button[aria-disabled="true"] {
  cursor: not-allowed;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  word-break: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;

  color: #1e1e1e;
  background-color: #f5f5f5;
}

a {
    color: var(--color-primary-500);
    text-decoration: underline
}

/* Tailwind import */
@import "tailwindcss";

@theme {
  --color-primary-100: #ddecff;
  --color-primary-200: #c4deff;
  --color-primary-300: #a4cdff;
  --color-primary-500: #143a6a;
  --color-primary-700: #0f2a4f;
}